 html {
    --normal: #9099a1;
    --fighting: #cd4069;
    --flying: #8fa8dd;
    --poison: #ab6ac8;
    --ground: #d97745;
    --rock: #c6b78b;
    --bug: #8fc12c;
    --ghost: #5268ac;
    --steel: #5a8ea1;
    --fire: #fe9c54;
    --water: #4c8fd5;
    --grass: #63bb5b;
    --electric: #f3d23b;
    --psychic: #f97176;
    --ice: #74cec0;
    --dragon: #0a6cc4;
    --dark: #5a5366;
    --fairy: #ec8ee6;
    --shadow: #68a090;
    --unknown: grey;
 }
